{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stockages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Iduser</th>
                <th>Fichier</th>
                <th>Taillefic</th>
                <th>Stockagename</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stockage in stockages %}
            <tr>
                <td><a href="{{ path('stockage_show', { 'id': stockage.id }) }}">{{ stockage.id }}</a></td>
                <td>{{ stockage.idUser }}</td>
                <td>{{ stockage.fichier }}</td>
                <td>{{ stockage.tailleFic }}</td>
                <td>{{ stockage.stockageName }}</td>
                <td>{% if stockage.updatedAt %}{{ stockage.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('stockage_show', { 'id': stockage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('stockage_edit', { 'id': stockage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stockage_new') }}">Create a new stockage</a>
        </li>
    </ul>
{% endblock %}
