{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes fichiers</h1>
<a href="/web/app_dev.php/">Accueil</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fichier</th>
                <th>Taille du fichier</th>
                <th>Mis en ligne le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stockage in stockages %}
        {% if app.user.id == stockage.idUser%}
            <tr>
                <td><a href="{{ path('stockage_show', { 'id': stockage.id }) }}">{{ stockage.id }}</a></td>
                {#<td>{{ stockage.fichier }}</td>#}
                <td><a href="/web{{ vich_uploader_asset(stockage, 'stockageFile') }}"download>{{ stockage.fichier }}</a></td>
                <td>{{ stockage.tailleFic }}mo</td>
                <td>{% if stockage.updatedAt %}{{ stockage.updatedAt|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        {#<li>#}
                            {#<a href="{{ path('stockage_show', { 'id': stockage.id }) }}">Voir</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('stockage_edit', { 'id': stockage.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stockage_new') }}">Uploader un nouveau fichier</a>
        </li>
    </ul>
{% endblock %}
