{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stockage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stockage.id }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ stockage.idUser }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ stockage.fichier }}</td>
            </tr>
            <tr>
                <th>Taillefic</th>
                <td>{{ stockage.tailleFic }}</td>
            </tr>
            <tr>
                <th>Stockagename</th>
                <td>{{ stockage.stockageName }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if stockage.updatedAt %}{{ stockage.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stockage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stockage_edit', { 'id': stockage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
